@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}


body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243,243,243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    min-height: 34rem;
}

.smartphone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.smartphone img{
    height: 50rem;
}

.continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: white;
    border:#DBDBDB 1px solid;
    width: 70%;
    padding: 20px 0 20px 0;
    margin-bottom: 15px;
    text-align: center;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.logo {
    width: 50%;
    padding: 20px 0 40px 0;
}

.logo img {
    width: 50%;
}

.input {
    background: #FAFAFA;
    margin-bottom: 5px;
    padding: 7px;
    width: 80%;
    border: #DBDBDB 1px solid;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.submit {
    background: #0095F6;
    margin: 15px 0;
    padding: 7px 0 7px 0;
    width: 80%;
    border: 0;
    border-radius: 6px;
    font-weight: bold;
    color: white;
}

.facebook{
    width: 5%;
    margin-top: 10px;
    color: #385185;
}

.link-face{
    color: #0095F6;
    margin-bottom: 10px;
}

.link-face a{
    color:  #005e9c;
}

.link-senha{
    padding: 10px 0 0 0;
    font-size: 10px;
    margin-bottom: 10px;
}

.link-senha a{
    color: #005e9c;
    font-size: 12px;
}

.group span{
    color: #0095F6;
    font-weight: bold;
}

.group span a{
    color: #0095F6;
}

.group-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0 20px 0;
    width: 100%;
}

.get-app{
    margin-bottom: 15px;
}

.download{
    width: 85%; 
}

.download img{
    width: 40%;
} 

@media (max-width:1024px){
    .wrapper{
        width: 90%;
    }

    .group{
        width: 90%;
    }
}

@media (max-width:700px){
    .instagram-wrapper{
        width: 90%;
    }

    .smartphone{
        display: none;
    }

    .continue{
        width: 100%;
    }

    .group{
        width: 60%;
    }

    .download{
        width: 60%;
    }
}

@media (max-width:400px){
    .wrapper{
        width: 90%;
    }

    .group{
        font-size: 10px;
        width: 80%;
    }

    .group span{
        font-size: 11px;
    }

    .input{
        font-size: 9px;
    }

    .link-face a, .link-senha a{
        font-size: 11px;
    }

    .download{
        width: 80%;
    }
}